<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shirang.myapplication" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".FInfoApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".FItem"
            android:label="@string/title_activity_fitem" >
        </activity>
        <activity
            android:name=".AddItem"
            android:label="@string/title_activity_add_item" >
        </activity>
        <activity
            android:name=".MainActivityNav"
            android:label="@string/title_activity_main_activity_nav" >

        </activity>
    </application>

</manifest>
